<%- include('../partials/header') %>

<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-md-6 mx-auto">
      <form action="/movies" method="GET" class="d-flex">
        <input 
          type="search" 
          name="q" 
          class="form-control me-2" 
          placeholder="Search for movies..."
          value="<%= locals.q %>"
          aria-label="Search"
        >
        <a href="#" class="btn btn-primary" onclick="event.preventDefault(); this.closest('form').submit();">Search</a>
      </form>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% movies.results.forEach(movie => { %>
      <div class="col">
        <div class="card h-100 d-flex flex-column">
          <img 
            src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" 
            class="card-img-top" 
            alt="<%= movie.title %>"
          >
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text flex-grow-1"><%= movie.overview.substring(0, 150) %>...</p>
            <div>
              <p class="card-text">
                <small class="text-muted">
                  Release Date: <%= new Date(movie.release_date).toLocaleDateString() %>
                </small>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="badge bg-primary">Rating: <%= movie.vote_average ? movie.vote_average.toFixed(1) : 'N/A' %>/10</span>
                <a href="/movies/<%= movie.id %>?q=<%= locals.q %>" class="btn btn-outline-primary btn-sm">More Info</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<%- include('../partials/footer') %>
